* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}

.mynav {
    min-height: 80px;
}

.f-row-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 60vh;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter';
}

.menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.menu ul li {
    list-style-type: none;
    margin-right: 30px;
}

.menu ul li a {
    text-decoration: none;
    color: #000;
}

.menu ul li a:hover {
    color: #000;
    border-bottom: 1px solid #D6EF0E;
    ;
    transition: 1s;
}

.menu ul li a.active {
    color: #000;
    border-bottom: 1px solid #D6EF0E;
    transition: .7s;
}

.nav-btn {
    width: 140px;
    height: 48px;
    background-color: #D6EF0E;
    color: #000;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-family: 'Inter';
    font-weight: 700;
}

.nav-btn:hover {
    background: none;
    color: #D6EF0E;
    border: 1px solid #D6EF0E;
    transition: .3s;
}

.nav-burger {
    position: relative;
    left: 5px;
    top: 5px;
    width: 40px;
    height: 40px;
    border: none;
    border: none;
    background-color: transparent;
    display: none;
    z-index: 6666666666666666666666666;
    cursor: pointer;
}

.nav-burger span {
    position: fixed;
    width: 30px;
    height: 3px;
    background-color: #000;
    left: 15px;
    transition: transform .5s, opacity .5s, background-color .5s;
}

.nav-burger span:nth-child(1) {
    transform: translateY(-10px);
}

.nav-burger span:nth-child(3) {
    transform: translateY(10px);
}

.mynav.open .nav-burger span {
    background-color: #000;
}

.mynav.open .nav-burger span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.mynav.open .nav-burger span:nth-child(2) {
    opacity: 0;
}

.mynav.open .nav-burger span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

.myopacity {
    opacity: 0;
}


.login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
}

.login li {
    list-style-type: none;
    cursor: pointer;
}

.login li:hover {
    font-weight: 600;
}

.sign-up {
    width: 80px;
    height: 40px;
    padding: 5px;
    border-radius: 12px;
    background-color: black;
    color: white;
    margin-left: 20px;
}

.sign-up:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.section-1 {
    height: 900px;
    /* background-color: aqua; */
}

.title {
    height: 100px;
    /* background-color: black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.name-info {
    width: 41%;
    height: 70px;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-info img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.desc-title {
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btns button:first-child {
    width: 60px;
    height: 35px;
    border-radius: 8px;
    background-color: #f3f3f4;
}

.btns button:last-child {
    width: 80px;
    height: 40px;
    border-radius: 8px;
    background-color: #ea4c89;
    color: white;
    margin-left: 10px;
}

.btns button:last-child:hover {
    background-color: #ec2a74;
}

.btns button:first-child:hover {
    background-color: #d3d3d6;
}


.section-1-img {
    height: 700px;
    /* object-fit: contain; */
}

.section-2 {
    height: 400px;
    /* background-color: red; */
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.idea {
    height: 60px;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.idea p:first-child {
    font-size: 20px;
    font-weight: 400;
    height: 20px;
}


.idea p:last-child {
    font-size: 20px;
    height: 20px;
    font-weight: 500;
}

.idea p a {
    text-decoration: none;
    color: #ea4c89;
}

.greet {
    width: 80%;
    /* background-color: aqua; */
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.greet p {
    font-size: 20px;
}

.section-3 {
    height: 600px;
}

.section-4, .section-5, .section-6, .section-8, .section-9 {
    height: 600px;
    background-image: blue;
}

.section-7 {
    height: 60px;
    margin-bottom: 80px;
    margin-top: 80px;
}

.section-7 p {
    width: 60%;
    text-align: center;
    margin: auto;
}

.section-10 {
    height: 600px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.smart-home-app-block {
    width: 60%;
    height: 140px;
    background-color: #f3f3f4;
    border-radius: 8px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smart-home-app-block .title {
    width: 80%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.vool-logo {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vool-logo span {
    width: 38%;
    border: 1px solid black;
}

.user-info {
    height: 200px;
    /* background-color: #ea4c89; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-info p:first-child {
    font-weight: 600;
    font-size: 24px;
}

.user-info button {
    width: 100px;
    height: 40px;
    border-radius: 8px;
    background-color: #ea4c89;
    color: white;
}

.user-info button:hover {
    background-color: #ec2a74;
}

.footer {
    height: 700;
    font-family: "Inter";
    font-weight: 400;
}

.footer-top {
    height: 300px;
    border-bottom: 1px solid #838382;
    display: flex;
    align-items: center;
}

.footer-top_left p {
    width: 270px;
    font-family: "Inter";
}

.footer .copyright {
    width: 100%;
    height: 80px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .copyright .right-side {
    display: flex;
    width: 25%;
    justify-content: space-between;
    font-family: "Inter";
}

.footer  .copyright .right-side span {
    color: #000;
}

.footer  .copyright span:hover {
    cursor: pointer;
    color: #D6EF0E;
}

.footer-top_left {
    height: 160px;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Inter";
    font-weight: 400;
}

.footer-top_left .society {
    min-height: 50px;
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.footer-top_left .society div {
    height: 30px;
    width: 30px;
    background-color: #FFFFFD;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #090F1D;
    border-radius: 6px;
}

.footer-top_left .society div:hover {
    background-color: #D6EF0E;
}

.footer-top_right {
    height: 200px;
    display: flex;
    justify-content: space-between;
    font-family: "Inter";
}

.footer-top_right div {
    min-width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-top_right div span {
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

.footer-top_right div .list {
    height: 75%;
    display: flex;
    justify-content: space-between;
}

.footer-top_right div p {
    color: #000;
}

.footer-top_right div p:hover {
    color: #D6EF0E;
    cursor: pointer;
}